/*
 * Estilos de tu proyecto
 */

 /*Configuracion inicial de la página*/

 * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin:0;
    padding: 0;
    
    
  }
  
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

 /*Declaramos la fuente para toda la página web*/
body
{
    font-family:Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
    background: linear-gradient(#76278F, #2B1E66);
}

 /*Declaramos la etiqueta <nav> para el menú de navegación*/
 nav{
    background: linear-gradient(#76278F, #2B1E66);
    font-size:20px;
    font-family:Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
    letter-spacing:1px; /*Le colocamos espacio entre las letras para que se vea ordenado*/
    padding:55px 0px;
    position:fixed;
    width:100%;
    text-align:center;
    z-index: 1000;/*Le colocamos z-index para que se coloque por encima de los demás elementos*/
}
/*Logo - lyft*/
figure img{
    height:50px;
    left:5%;
    position: absolute;
    top:50%; /*Lo colocamos en el centro de su contenedor*/
    transform: translateY(-50%); /*Lo rotamos en si mismo para que se ubique en el centro de si mismo*/
    width:70px;
    

}


/*Vinculos del menú de navegación*/
nav a{
    text-decoration: none;/*Quitamos el subrayado de los hipervinculos del menú de navegación*/
    
}




/*Menú de navegación*/
#navigation-menu{
    position: absolute;
    right: 9%;
    top:50%; /*Lo colocamos en el centro de su contenedor*/
    transform: translateY(-50%); /*Lo rotamos en si mismo para que se ubique en el centro de si mismo*/
}


/*Lista del menú de navegación*/
#navigation-menu ul li{
   list-style-type:none;
 }

 /*Elementos del menú de navegación*/
 #navigation-menu ul li{
    color:#fff;
    display: inline-block; /*Colocamos los elementos de la lista en de manera inline-block*/
    padding: 10px;
    
}
#navigation-menu ul li a{
    color:#fff;
    display: inline-block; /*Colocamos los elementos de la lista en de manera inline-block*/
    padding: 10px;
    
}

 /*Evento-Hover*/
#navigation-menu ul li a:hover,#navigation-menu ul li a:active{
    color: #FF00BF; /*Coloreamos los vinculos cada vez que el cursor pase por encima de él*/
}

.btn{
    background: linear-gradient(#76278F, #2B1E66);
    border-color: white;
    border-radius: 15%;
    color:white;
    font-family:Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 20px;

}

  /*Cabecera del documento*/
#top{
    
    background-image: url("../assets/images/hero.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:250px;/*modificar*/
    width: 100%;
}



aside{
    
    padding-left:50%;
    position:relative;
    
    
    outline: solid 1px red;
    width:100%;

    
}

#contact{
    background-color: white;
    padding:70px;
}

form{
    background-color: white;
}

.small,label{
    color:#bcc0c7;
    font-size:10px;
}

.small a{
    color:#ff00bf;
    text-decoration:none;
}

.small a:hover{
    color:purple;
    text-decoration:underline;
}
 /*Clase reutilizable para cada grupo de elementos del formulario (input y textarea)*/   
 .controls input,.controls textarea{
    border:none; /*Eliminamos el borde*/
    border-bottom:#eee solid 1px;/*Le colocamos el borde en la parte baja*/
    color:#161616;
    font-size:20px;
    outline:none;/*Eliminamos el outline*/
    resize:none;
    width:100%;
}

/*Evento focus de las cajas de textos*/   
input[type=text]:focus {
    border-bottom: 1px solid #e60000;
} 

/*Boton  del formulario*/   
#sendmessage{
    background-color:#ff00bf;
    border-color:#ff00bf;
    border-radius: 5px;/*Borde radial del boton*/   
    color:#fff;
    cursor: pointer;
    font-size:20px;
    font-weight:700;
    margin-top:50px;
    margin-bottom:25px;
    padding: 15px 20px;  
    
    
}


 h1{
    color:#352384;
    font-weight:700;
    font-size:40px;
    line-height:45px;
}

h6{
    color:#352384;
    font-weight:normal;
    line-height:45px;
}
}
/***************************************





/*Footer*/ 
footer{
    background-color:#2c3e50;
    color:#fff;
    overflow:auto;
    padding:55px 80px 30px 80px;
    position: relative;
    width:100%;
}

/*Dividmos al footer en 3 columnas*/ 
#grid-footer{
    column-count:3;
}

/*Clase reutilizable para cada columna del footer*/ 
.item-footer{
    float: left;
    text-align:center;
}


/*Clase reutilizable para cada titulo del footer*/ 
footer h3{
    font-size:25px;
    letter-spacing:2px;/*Le colocamos espacio entre las letras para que se vea ordenado*/
    padding-bottom: 26px;
}

/*Clase reutilizable para cada parrafo del footer*/ 
.item-footer p{
    font-size:20px;
    line-height:30px;/*LAltura de cada linea*/
}

/*Hipervinculo del footer*/ 
.item-footer p a{
    color: #18bc9c;
    text-decoration:none;
}

/*Evento HOVER -Hipervinculo del footer*/ 
.item-footer p a:hover{
    color: #18bc9c;
    text-decoration:underline;
   
}
/*Elementos de la lista del footer*/ 
.item-footer ul li{
    display: inline-block;
    padding-top:10px;
}


/*Botones de redes sociales*/
.social-button{
    font-size:20px;margin-top:15px;
    border:solid 2px #fff;
    text-align:center;
    border:2px solid #fff;
    border-radius:100%;/*Redondeamos el borde con un radio de 100%*/
    display: inline-block;
    color:white;
    padding:10px;
}

/*Evento HOVER - Botones de redes sociales*/
.social-button:hover{
    background:#fff;
    border:solid 2px #fff;
    color:#18bc9c;
    transition-duration:1s;/*Tiempo de transicion*/
}



/*Copyright del footer*/
#footer-down{
    left:50%;
    padding-top:120px;
    position: relative;
    transform:translateX(-14%); 
}